<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Home - Scalable and Modular Architecture for CSS</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="//use.typekit.com/riu0bhz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="view-home">
  <div class="l-user">
    <div class="l-constrained l-constrained-tighter">
      SMACSS was written in 2011. This site remains for archival and educational purposes. 
    </div>
  </div>
<div class="l-header">
    <div class="l-constrained">
        <div class="logo">
        <h2 class="hd"><a href="/"><span class="hd-line hd-line1">Scalable and Modular</span> <span class="hd-line hd-line2">Architecture for CSS</span></a></h2>
                <h3>A flexible guide to developing sites small and large.</h3>
                </div>
    </div>
</div>
<div class="l-content">
    <div class="l-constrained">
            
<div class="article"><article>
      <img src="/img/book-covers.png" align="left" alt="Stack of books. Because you want more than one.">
<p>I’ve been analyzing my process (and the process of those around me) and figuring out how best to structure code for projects on a larger scale. What I've found is a process that works equally well for sites small and large.</p>
<p>Learn how to structure your CSS to allow for flexibility and maintainability as your project and your team grows.</p>

<h2 style="clear:left;">What is it?</h2>
<p>SMACSS (pronounced “smacks”) is more style guide than rigid framework. There is no library within here for you to download or install. There is no git repository for you to clone. SMACSS is a way to examine your design process and as a way to fit those rigid frameworks into a flexible thought process. It is an attempt to document a consistent approach to site development when using CSS. And really, who isn’t building a site with CSS these days?!</p> 

<p>Get to know Scalable and Modular Architecture for CSS:</p>

<h3>Read it Online</h3>
<p>SMACSS started out as a free online book and that continues to be true. You can always <a href="/book/">read the book online</a>. </p>

<h3>Download the Book</h3>
<p>The e-book comes in PDF, ePub, and mobi formats for easy installation on almost any e-reader. <a href="/files/smacss-en.zip">Download the zip</a>!</p>

<p><a href="/files/smacss-en.zip" class="btn">Download the book!</a> </p>

<p>The book is also available in these languages:</p>
<ul>
  <li><a href="/fr">Français</a></li>
  <li><a href="/ja">日本語</a></li>


</article></div>
<div class="article-aside nav">
<h4>What's in SMACSS?</h4>

<h4>Preface</h4>
    <ol>
        <li><a href="/book/about">About the Author</a>
        <li><a href="/book/">Introduction</a>
    </ol>
<h4>Core</h4>
    <ol start="3">
        <li><a href="/book/categorizing">Categorizing CSS Rules</a> </li>
        <li><a href="/book/type-base">Base Rules</a></li>
        <li><a href="/book/type-layout">Layout Rules</a></li>
        <li><a href="/book/type-module">Module Rules</a></li>
        <li><a href="/book/type-state">State Rules</a></li>
        <li><a href="/book/type-theme">Theme Rules</a></li>
        <li><a href="/book/state">Changing State</a></li>
    </ol>
<h4>Aspects of SMACSS</h4>
    <ol start="10">
        <li><a href="/book/applicability">Depth of Applicability</a></li>
        <li><a href="/book/selectors">Selector Performance</a></li>
        <li><a href="/book/html5">HTML5 and SMACSS</a></li>
        <li><a href="/book/prototyping">Prototyping</a></li>
        <li><a href="/book/preprocessors">Preprocessors</a></li>
        <li><a href="/book/drop-the-base">Drop the Base</a></li>
        <li><a href="/book/icon-module">The Icon Module</a></li>
        <li><a href="/book/inheritance">Complicated Inheritance</a></li>
        <li><a href="/book/screencast-1">Screencast: Applying the Principles</a></li>
        <li><a href="/book/screencast-2">Screencast: Avoiding Content-specific Context</a></li>
    </ol>
<h4>Appendix</h4>
    <ol start="20">
        <li><a href="/book/formatting">Formatting Code</a></li>
        <li><a href="/book/resources">Resources</a></li>
    </ol>

</div>

    </div> <!-- constrained -->
</div>
 
<div class="l-footer">
    <div class="l-constrained">

<div>
    <h2>About SMACSS</h2>
    <p><i>Scalable and Modular Architecture for CSS</i> is an approach to web development written by Jonathan Snook. You can reach me on my blog at <a href="https://snook.ca/">Snook.ca</a>. </p> 
    <p><a href="/privacy">Privacy Policy</a> | <a href="/contact">Contact</a></p>
    <p>&copy; Snook.ca Web Development, Inc. All rights reserved.</p>
</div>
    </div>
</div>

	</body>
</html>

